[submodule "Get_next_line"]
	path = Get_next_line
	url = https://github.com/TheGreatSoider/Get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/TheGreatSoider/ft_printf.git